.superior{
    background-color:#00A8E8;
    padding: 15px;
    
}
h6{
animation: mover 20s linear infinite;
font-size: 10px;
text-decoration: underline;
}

@keyframes mover {
    0% {transform: translateX(-30%);}
    25% {transform: translateX(10%);}
    50% {transform: translateX(50%)}
    75% {transform: translateX(85%)}
    100% {transform: translateX(120%)}
}