.superior{
    background-color:rgba(60, 193, 230, 0.927);
    padding: 15px;
    
}
h6{
animation: mover 20s linear infinite;
}

@keyframes mover {
    0% {transform: translateX(-20%);}
    25% {transform: translateX(10%);}
    50% {transform: translateX(40%)}
    75% {transform: translateX(80%)}
    100% {transform: translateX(110%)}
}