nav {
  background-color: rgb(65, 155, 223);
  overflow: hidden;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  display: block; 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

nav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}